

/* *************content**************** */
.content{
    margin: 23px 60px;
    text-align: justify;
}
.content h1{
    text-align: center;

}
.cont{
    margin: 60px 135px;
}
.cont h3{
    color: aqua;
}



